.item {
  display: flex;
  margin: 0;
  background-color: var (--primary-bg-color);
  box-shadow: 0px 2px 3px rgba(9, 30, 63, 0.1);

  @media screen and (max-width: 767px) {
    padding: 18px 15px 0px 10px;
    position: relative;
    height: 180px;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 768px) {
    margin-top: 14px;
    height: 62px;
  }
}

a {
  text-decoration: none;
}

button {
  background: transparent;
  outline: none;
  border: none;
}

.iconTitle {
  display: flex;
  @media screen and (max-width: 767px) {
    align-items: center;
    position: absolute;
    bottom: 74%;
    left: 7%;
  }

  @media screen and (min-width: 768px) {
    align-items: center;
  }

}

.bookInfo {
  padding-left: 55px;
}
.bookInfoWrapper{
  @media screen and (max-width: 767px) {display: flex;
  align-items: flex-end;}
}

.bookTitle {
  margin-left: 5px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  color: #242A37;
  width: 154px;

  @media screen and (min-width: 768px) {
    width: 264px;
    font-size: 14px;
    line-height: 1.5;
  }

  @media screen and (min-width: 1280px) {
    width: 500px;
    margin-right: 60px;
    font-size: 14px;
    line-height: 2.71;
  }
}

.navIcon {
  width: 40px;

  @media screen and (min-width: 768px) {
    margin-left: 20px;
    margin-right: 20px;
  }

}

.bookMoreInfo {
  margin-left: 30px;
  margin-top: 5px;
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.bookInfoText {
  font-weight: 500;
  font-size: 12px;
  line-height: 3.17;
  color: #898F9F;
}

.bookMoreInfoAuthor {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  color: #242A37;
  height: 26px;

  @media screen and (min-width: 768px) {
    width: 160px;
    font-size: 14px;
   line-height: 1.5;
  }

  @media screen and (min-width: 1280px) {
    width: 190px;
    margin-right: 125px;
    font-size: 14px;
    line-height: 1.5;
  }
}

.bookMoreInfoYear {
  font-weight: 500;
  font-size: 12px;
  line-height: 3.17;
  color: #242A37;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 0.8;
    width: 40px;
    margin-right: 40px;
  }

  @media screen and (min-width: 1280px) {
    margin-right: 80px;

    font-size: 14px;
    line-height: 2.71;
  }
}

.bookMoreInfoPage {
  font-weight: 500;
  font-size: 12px;
  line-height: 3.17;
  color: #242A37;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 0.8;
  }

  @media screen and (min-width: 1280px) {
    font-size: 14px;
    line-height: 2.71;
  }
}
.bookInfoWrapper {
  @media screen and (min-width: 768px) {
   display: flex;
  }
}