.item {
    position: relative;
<<<<<<< Updated upstream
    width: 270px;
    min-height: 272px;

    display: flex;
    align-items: center;
    box-shadow: 0px 2px 3px rgba(9, 30, 63, 0.1);

    margin: 0;
    @media screen and (max-width: 767px) {
       
        width: auto;
    
        margin-top: 28px;
    }

    @media screen and (min-width: 768px) {
        margin-top: 14px;
        height: 62px;
    }
=======
    min-height: 272px;
    margin: 0 auto 65px;
    width: 270px;

        @media screen and (min-width: 768px) {
            margin-bottom: 10px;
            min-height: 60px;
            width: 678px;
        }
        @media screen and (min-width: 1280px) {
            width: 1200px;
        }
>>>>>>> Stashed changes
}
a {
    text-decoration: none;
}

.iconTitle {
    display: flex;
<<<<<<< Updated upstream
=======
    position: absolute;

    top: 20px;
    left: 15px;

>>>>>>> Stashed changes
    @media screen and (min-width: 480px) {
        margin-bottom: 10px;
        align-items: center;
      
    }

<<<<<<< Updated upstream
    @media screen and (min-width: 1280px) {
        position:static;
        align-items: center;
=======
    @media screen and (min-width: 768px) {
>>>>>>> Stashed changes
    }
}

.bookInfoWrapper {
    position: absolute;
    left: 55px;
    top: 45px;
    @media screen and (min-width: 480px) {
       left: 50px;
    
    }
}

.bookTitle {
    margin-left: 14px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.25;
    color: #242A37;

    @media screen and (min-width: 768px) {
       
        font-size: 14px;
        line-height: 1.2;
        width: 135px;
    }

    @media screen and (min-width: 1280px) {
        font-size: 14px;
        line-height: 1.2;
            width: 301px;
        
    }
}

.navIcon {
    @media screen and (min-width: 768px) {
      margin-left: 20px;
    }

}

.bookMoreInfo {
    position: absolute;
    top: 45px;
    left: 126px;

    @media screen and (min-width: 768px) {
        left: 216px;
        top: 12px;
        display: flex;
    }
    @media screen and (min-width: 1280px) {
        left: 340px;

    }
}

.bookInfoText {
    font-weight: 500;
    font-size: 12px;
    line-height: 3.17;
    color: #898F9F;

}

.bookMoreInfoAuthor {
    font-weight: 500;
    font-size: 12px;
    line-height: 3.17;
    color: #242A37;

    @media screen and (min-width: 768px) {
        
        font-size: 14px;
        line-height: 1.7;
        width: 110px;
    }

    @media screen and (min-width: 1280px) {
    width: 206px;
    margin-right: 20px;
        font-size: 14px;
    }
}

.bookMoreInfoYear {
    font-weight: 500;
    font-size: 12px;
    line-height: 3.17;
    color: #242A37;

    @media screen and (min-width: 768px) {
       
        width: 78px;
        font-size: 14px;
        line-height: 2.7;
    }

    @media screen and (min-width: 1280px) {
        font-size: 14px;
        line-height: 2.71;
        width: 102px;
    }
}

.bookMoreInfoPage {
    font-weight: 500;
    font-size: 12px;
    line-height: 3.17;
    color: #242A37;

    @media screen and (min-width: 768px) {
        
        width: 50px;
        font-size: 14px;
        line-height: 2.7;

    }

    @media screen and (min-width: 1280px) {
        width: 112px;
        font-size: 14px;
        line-height: 2.71;
    }
}
// .bookReviewItemWrapper {
//     background: var (--primary-bg-color);
//     box-shadow: 0px 2px 3px rgba(9, 30, 63, 0.1);
// }

.ratingStar {
    position: absolute;
    top: 20px;
    right: 117px;

        @media screen and (min-width: 1280px) {
            left: 815px;
        }
}