.item {
    position: relative;
    width: 270px;
    height: 177px;
    margin: 22px auto 0;
    display: flex;
    align-items: center;

    background-color: var (--primary-bg-color);

    @media screen and (min-width: 768px) {
        justify-content: center; 
        width: 678px;
        height: 40px;
        margin: 11px auto 0;

        align-items: center;
        flex-direction: column;
    }

    @media screen and (min-width: 1280px) {
        width: 100%;
    }
}

.itemLineWrepper {
    width: 100%;
    margin: 0 auto;
    height: auto;
    // position: relative;
}


.itemLine {
    position: absolute;
    top: -10px;

    width: 100%;
    display: inline-block;
    border: 1px solid #E0E5EB;

    @media screen and (min-width: 1280px) {
        display: none;
    }
}

.bookInfoLine {
    display: none;

    @media screen and (min-width: 1280px) {
        width: 100%;
        display: inline-block;
        border: 1px solid #E0E5EB;
    }

}
.conteiner {
    // position: relative;
}
.checkBoxWrepper {
    display: flex;
    position: absolute;
    left: 0px;
    top: 15px;

        @media screen and (min-width: 768px) {
            // left: -115px;
            // top:0;
        }
        
        @media screen and (min-width: 1280px) {
       
        }
    
}
.checkBoxIconWrepper{
    width: 15px;
    height: 15px;

    border: 1px solid #FF6B08;
    box-sizing: border-box;
    border-radius: 1px;
}
.checkBoxIcon {
    width: 100%;
}
.checkBox {
    width: 15px;
    height: 15px;
    
    border: 1px solid #A6ABB9;
    box-sizing: border-box;
    border-radius: 1px;
}
.iconTitle {
    display: flex;
    // position: absolute;
    // top: 0px;
    // left: 0px;
    
    
    @media screen and (min-width: 480px) {
        left: -40px;
    }
    
    @media screen and (min-width: 768px) {
        left: 0;
    }
    
    @media screen and (min-width: 1280px) {
        align-items: center;
    }
   

}

.bookTitle {
    width: 154px;
    max-height: 30px;

    margin-left: 14px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.25;

    color: #242A37;


    @media screen and (min-width: 768px) {
        display: inline-block;
        width: 180px;
        height: 34px;
        margin-left: 17px;

        font-size: 14px;
    }

    @media screen and (min-width: 1280px) {
        width: 240px;
        max-height: 40px;
        line-height: 1.5;
        margin-left: 24px;
    }
}

.bookInfo {
    position: absolute;
    left: 0;
    top: 0;

    display: flex;
    flex-direction: column;
    margin-left: 35px;
    margin-top: 20px;

    @media screen and (min-width: 480px) {
       
        margin-left: 5px;

    }

    @media screen and (min-width: 768px) {
        position: unset;
        display: flex;
        flex-direction: row;
        margin-left: 0;
        margin-top: 10px;
    }

}

.bookInfoText {
    font-weight: 500;
    font-size: 12px;
    line-height: 2;
    color: #898F9F;
    margin-top: 18px;
}

.bookMoreInfo {
    position: absolute;
    top: 0;
    left: 60px;

    margin-left: 30px;
    margin-top: 20px;

    @media screen and (min-width: 480px) {
        margin-left: 50px;
    }

    @media screen and (min-width: 768px) {
        position: unset;
        display: flex;
        margin-left: 150px;
        margin-top: 0;
    }

    @media screen and (min-width: 1280px) {
        display: flex;
        margin-left: 200px;
        margin-top: 0;
    }
}


.bookMoreInfoAuthor {
    margin-top: 18px;

    font-weight: 500;
    font-size: 12px;
    line-height: 2;
    color: #242A37;


    @media screen and (min-width: 768px) {
        margin-right: 43px;
        width: 140px;

        font-size: 14px;
        line-height: 1.7;
        margin-top: 0;
    }

    @media screen and (min-width: 1280px) {
        margin-right: 80px;
        width: 150px;
    }
}

.bookMoreInfoYear {
    margin-top: 18px;

    font-weight: 500;
    font-size: 12px;
    line-height: 2;
    color: #242A37;

    @media screen and (min-width: 768px) {
        margin-top: 0;
        font-size: 14px;
        line-height: 1.7;
        width: 40px;
        margin-right: 50px;
    }

    @media screen and (min-width: 1280px) {
        margin-right: 85px;
        line-height: 1.7;
    }
}

.bookMoreInfoPage {
    margin-top: 18px;

    font-weight: 500;
    font-size: 12px;
    line-height: 2;
    color: #242A37;

    @media screen and (min-width: 768px) {
        margin-top: 0;

        font-size: 14px;
        line-height: 1.7;
    }
}

// .bookInfo {
//     display: flex;

// }

.bookList {
    @media screen and (min-width:768px) {
        border-top: 1px solid #E0E5EB;
    
        border-bottom: 1px solid #E0E5EB;
    
    }

    @media screen and (min-width:1280px) {
        width: 886px;
        max-height: 233px;
    }

}

.title {
    @media screen and (min-width: 768px) {
        width: 92px;
        margin-right: 171px;

    }

    @media screen and (min-width: 1280px) {
        margin-right: 264px;
    }
}

.author {
    @media screen and (min-width: 768px) {
        width: 45px;
        margin-right: 146px;
    }

    @media screen and (min-width: 1280px) {
        margin-right: 185px;
    }
}

.year {
    @media screen and (min-width: 767px) {
        width: 23px;
        margin-right: 55px
    }

    @media screen and (min-width: 1280px) {
        margin-right: 85px;
    }
}

.delBtn {
    position: absolute;
    right: 0;
    top: 0;

    @media screen and (min-width: 480px) {
        right: -40px;
    }

    @media screen and (min-width: 768px) {
        right: 49px;
    }

    @media screen and (min-width: 1280px) {
        right: 35px;
    }

}