.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;

  @media screen and (min-width: 480px) {
    flex-wrap: nowrap;
    flex-direction: column;
  }
  @media screen and (min-width: 768px) {
    flex-direction: row
  }
  @media screen and (min-width: 1280px) {
    margin-top: 60px;
    margin-bottom: 40px;
  }
  }


