.wrapper {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  /* margin-bottom: 44px; */
  margin-top: 40px;

  @media screen and (min-width: 480px) {
    flex-wrap: nowrap;
  }

  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 45px;
    margin-top: 65px;
  }
}
