
 @media screen and (min-width: 320px) {
 
   .regForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 270px;
    background-color: brown;
 }
   .regFormFormikGoogle {
    background-image: url(../images/pic1-mob-1x.jpg);
 }

 }
 @media screen and (min-width: 768px) {
  .regForm {
   /* width: 740px; */
  }
 }
 @media screen and (min-width: 1280px) {
  .regForm {
    width: 1090px;
   }
   
 }
