.book{
	&__form{
	display: flex;
	align-items: flex-end;
	}
	&__label {
	display: flex;
	flex-direction: column;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 2.71;
	color: var(--seconadry-text-color);
	&:not(:first-child){
		margin-left: 15px;
	}
	}
	
	&__btn{
		width: 171px;
		height: 42px;
		left: 985px;
		top: 128px;
		background: #F6F7FB;
		border: 1px solid var(--title-text-color);
		box-sizing: border-box;
		cursor: pointer;
		-webkit-transition-duration: 0.4s;
		transition-duration: 0.4s;
		margin-left: 45px;
		&:hover,
		&:focus {
			background: var(--accent-primary-color);
			color: #F6F7FB;
		}
	}
	
}
input{
	
	background: #F6F7FB;
	border: 1px solid #A6ABB9;
	box-sizing: border-box;
	
	&:focus{
		outline: none;
		background-color: var(--primary-bg-color);
	}
	&.title{
    width: 346px;
    height: 42px;
	}
	&.author{
		width: 250px;
		height: 42px;
	}
	&.yearPages{
		
		width: 130px;
		height: 42px;
		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button{
			-webkit-appearance: none;
		}
	}
}
