p {
	font-weight: 500;
	font-size: 14px;
	line-height: 2.71;
	color: #898F9F;

	@media screen and (min-width: 768px) {
		font-size: 14px;
		line-height: 2.71;
	}
}
.infoListConteiner {
	width: 270px;
	margin: 0 auto;
	@media screen and (min-width: 768px) {
		width: 678px;
	}
	@media screen and (min-width: 1280px) {
		width: 1200px;
	}
}
.bookInfo {
	display: flex;
}

.bookList {
	background-color: #fff;
	display: flex;
	flex-direction: column;

	@media screen and (max-width: 767px) {
		margin: 0 auto;
		width: 270px;
	}

	@media screen and (min-width: 1280px) {
		padding: 10px 0 25px 0;
		margin-bottom: 40px;
	}
}

.title {
	@media screen and (min-width: 767px) {
		width: 349px;
		margin-right: 30px;
	}

	@media screen and (min-width: 1280px) {
			width: 252px;
			margin-right: 423px;
	}
}

.author {
	@media screen and (min-width: 767px) {
		width: 160px;
	}

	@media screen and (min-width: 1280px) {
		width: 130px;
		margin-right: 200px;
	}
}

.year {
	@media screen and (min-width: 768px) {
		width: 80px;
	}

	@media screen and (min-width: 1280px) {
		width: 50px;
		margin-right: 68px;
	}
}

