p {
	font-weight: 500;
	font-size: 14px;
	line-height: 2.71;
	color: #898F9F;

	@media screen and (min-width: 768px) {
		font-size: 14px;
		line-height: 2.71;
	}
}

.bookInfo {
	display: flex;


}

.bookList {
	background-color: #fff;
	display: flex;
	flex-direction: column;

	@media screen and (max-width: 767px) {
		width: 270px;
		margin: 0 auto;
	}

}

.title {
	@media screen and (min-width: 767px) {
		margin-right: 296px;
	}

	@media screen and (min-width: 1280px) {
		margin-right: 602px;
	}
}

.author {
	@media screen and (min-width: 767px) {
		margin-right: 120px;
	}

	@media screen and (min-width: 1280px) {
		margin-right: 300px;
	}
}

.year {
	@media screen and (min-width: 767px) {
		margin-right: 62px;
	}

	@media screen and (min-width: 1280px) {
		margin-right: 113px;
	}
}

